{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{asset('css/login.css')}}">
<div>
    <div class="row">
        <div class="form-container mt-5">
            <div class="form-title">
                <h1 class="text-center">Connexion</h1>
            </div>
            <div class="form-body">
                <form method="post">
                    <div class="mb-5 mt-5 mb-5">
                        <label for="inputEmail" class="form-label">Email</label><br>
                        <input type="email" id="inputEmail" name="email" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Mot de passe</label><br>
                        <input type="password" id="inputPassword" name="password" class="form-control" required>
                    </div>
                    <div class="mb-3 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Se connecter</button>
                    </div>
                    {% if error_message %}
                        <div class="alert alert-danger" role="alert">
                            {{ error_message }}
                        </div>
                    {% endif %}
                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}