{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="table table-responsive">
        <table class="table table-striped">
            <thead class="darker">
                <tr>
                    <th colspan="2" class="text-center">Mentions légales</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Raison sociale</td>
                    <td>Arcadia</td>
                </tr>
                <tr>
                    <td>Adresse</td>
                    <td>Adresse fictive</td>
                </tr>
                <tr>
                    <td>Téléphone</td>
                    <td>Téléphone fictif</td>
                </tr>
                <tr>
                    <td>Directeur de la publication</td>
                    <td>John Doe</td>
                </tr>
                <tr>
                    <td>Hébergeur</td>
                    <td>HOSTINGER INTERNATIONAL <br> LTD 61 Lordou Vironos Street, 6023 Larnaca, Chypre <br>
                        https://www.hostinger.fr/contact 
                        </td>

                </tr>
            </tbody>
        </table>
        
        
    </div>
</div>

{% endblock %}
