{% extends 'base.html.twig' %}

{% block title %}Politique de protection des données{% endblock %}

{% block body %}
<div class="container mt- mb-5">
    <h1>Politique de Protection des Données</h1>

    <h2>1. Nom et Adresse du Responsable du Traitement</h2>
    <p>
        Le responsable du traitement des données à caractère personnel, conformément au Règlement Général sur la Protection des Données (RGPD) et aux autres lois nationales sur la protection des données des États membres, ainsi qu'aux autres dispositions en matière de protection des données, est :
    </p>
    <p>
        <strong>Nom juridique du parc et de la marque déposée</strong><br>
        Email : <a href="mailto:arcadia.bretagne@gmail.com" style="color:black">arcadia.bretagne@gmail.com</a><br>
        Site Web : <a href="https://www.arcadia-zoo.online" style="color:black" target="_blank">www.arcadia-zoo.online</a>
    </p>

    <h2>2. Base Juridique du Traitement des Données à Caractère Personnel</h2>
    <p>
        Le traitement des données à caractère personnel des utilisateurs repose sur les bases juridiques suivantes :
    </p>
    <ul>
        <li><strong>Consentement :</strong> Lorsque nous obtenons le consentement des utilisateurs pour le traitement de leurs données personnelles, le fondement juridique est l'article 6, paragraphe 1, point a du RGPD.</li>
        <li><strong>Exécution d'un Contrat :</strong> Si le traitement des données est nécessaire à l'exécution d'un contrat auquel l'utilisateur est partie prenante, ou pour la réalisation de mesures précontractuelles, le fondement juridique est l'article 6, paragraphe 1, point b du RGPD.</li>
        <li><strong>Obligations Légales :</strong> Lorsque le traitement est nécessaire pour remplir une obligation légale, le fondement juridique est l'article 6, paragraphe 1, point c du RGPD.</li>
        <li><strong>Intérêts Vitaux :</strong> Si le traitement est nécessaire pour protéger des intérêts vitaux de l'utilisateur ou d'une autre personne physique, le fondement juridique est l'article 6, paragraphe 1, point d du RGPD.</li>
        <li><strong>Intérêt Légitime :</strong> Si le traitement est nécessaire aux fins d’intérêts légitimes poursuivis par notre société ou par un tiers, et que ces intérêts ne sont pas supplantés par les droits et libertés fondamentaux de l'utilisateur, le fondement juridique est l'article 6, paragraphe 1, point f du RGPD.</li>
    </ul>

    <h2>3. Collecte des Données Générales</h2>
    <p>
        Les données à caractère personnel des utilisateurs sont collectées dans le cadre de l'utilisation de nos services. Ces données sont conservées uniquement pendant la durée nécessaire à l’accomplissement des finalités pour lesquelles elles ont été collectées. Au-delà de cette période, les données seront supprimées, anonymisées, ou leur accès sera restreint, sauf si une conservation plus longue est exigée par la loi.
    </p>

    <h2>4. Droits des Utilisateurs</h2>
    <p>
        Les utilisateurs disposent des droits suivants en matière de données personnelles :
    </p>
    <ul>
        <li><strong>Droit d’accès :</strong> Vous avez le droit de demander l'accès aux données personnelles que nous détenons à votre sujet.</li>
        <li><strong>Droit de rectification :</strong> Vous pouvez demander la correction de toute donnée personnelle inexacte ou incomplète.</li>
        <li><strong>Droit à l'effacement :</strong> Vous pouvez demander la suppression de vos données personnelles dans certains cas, par exemple si les données ne sont plus nécessaires aux fins pour lesquelles elles ont été collectées.</li>
        <li><strong>Droit à la limitation du traitement :</strong> Vous avez le droit de demander la limitation du traitement de vos données personnelles sous certaines conditions.</li>
        <li><strong>Droit à la portabilité des données :</strong> Vous pouvez demander que vos données personnelles vous soient fournies dans un format structuré, couramment utilisé et lisible par machine, ou qu’elles soient transférées à un autre responsable du traitement.</li>
        <li><strong>Droit d’opposition :</strong> Vous avez le droit de vous opposer au traitement de vos données personnelles, notamment en cas de prospection commerciale.</li>
    </ul>
    <p>
        Pour exercer ces droits, veuillez nous contacter à l’adresse suivante : <a href="mailto:arcadia.bretagne@gmail.com" style="color: black">arcadia.bretagne@gmail.com</a>. Nous traiterons votre demande dans les plus brefs délais, en respectant les délais légaux.
    </p>

    <h2>5. Sécurité des Données</h2>
    <p>
        Nous mettons en œuvre des mesures techniques et organisationnelles appropriées pour protéger les données personnelles contre la destruction, la perte, l'altération, la divulgation non autorisée ou l'accès non autorisé. Cependant, il est important de noter qu'aucun système de transmission ou de stockage de données n'est totalement sécurisé, et nous ne pouvons garantir la sécurité absolue de vos données.
    </p>

    <h2>6. Mises à Jour de la Politique</h2>
    <p>
        Nous nous réservons le droit de modifier cette politique de protection des données à tout moment. En cas de modifications, nous publierons la politique révisée sur notre site web avec une date de mise à jour révisée. Nous vous encourageons à consulter régulièrement cette page pour rester informé des éventuelles mises à jour.
    </p>

    <h2>7. Contact</h2>
    <p>
        Si vous avez des questions concernant cette politique ou le traitement de vos données personnelles, vous pouvez nous contacter à l’adresse suivante : <a href="mailto:arcadia.bretagne@gmail.com">arcadia.bretagne@gmail.com</a>.
    </p>
    <h2>8. Hébergement</h2>

    <p><em>Dernière mise à jour : 12/08/2024 </em></p>


     
</div>

{% endblock %}
