{% extends 'base.html.twig' %}

{% block title %}Politique de protection des données{% endblock %}

{% block body %}
<div class="container mt-5">
    <link rel="stylesheet" href="{{asset('css/acceuil.css')}}">
    
    <H1>Politique de protection des données</H1>
    <Strong>Nom et adresse du responsable du traitement:</Strong>
    <p>Le responsable au sens du règlement général sur la protection des données et d'autres lois nationales sur la protection des données des États membres ainsi que d'autres dispositions en matière de protection des données est:</p><br>
    
    <strong >IDENTITE JURIQUE DU PARC ET DE LA MARQUE DEPOSEE</strong><br>
    <p> Email: arcadia.bretagne@gmail.com</p>
    <p> Site Web: www.arcadia-zoo.online</p>

    

    <strong>Base juridique du traitement des données à caractère personnel:</strong>

    <p>Dans la mesure où nous obtenons le consentement des utilisateurs pour le traitement de leurs données à caractère personnel, l’article 6, paragraphe 1, point a du Règlement général sur la protection des données (RGPD) sert de fondement juridique. Pour le traitement des données à caractère personnel nécessaire à l’exécution d’un contrat dont l’utilisateur est partie prenante, l’article 6, paragraphe 1, point b du Règlement général sur la protection des données (RGPD) 
    sert de fondement juridique. 
    Ceci vaut également pour les opérations de traitement nécessaires à la réalisation de mesures précontractuelles. 
    Dans la mesure où le traitement des données à caractère personnel est nécessaire pour remplir une obligation légale à laquelle notre société est soumise, 
    l’article 6, paragraphe 1, point c du Règlement général sur la protection des données (RGPD) sert de fondement juridique. 
    Dans le cas où des intérêts vitaux de l’utilisateur ou d’une autre personne physique nécessitent le traitement de données à caractère personnel,
    l’article 6, paragraphe 1, point d du Règlement général sur la protection des données (RGPD) sert de fondement juridique.
    Si le traitement est nécessaire pour sauvegarder les intérêts légitimes de notre société ou d’un tiers, et si les intérêts, droits fondamentaux et libertés de 
    l’utilisateur ne prévalent pas sur cet intérêt légitime, l’article 6, paragraphe 1, point f du Règlement général sur la protection des données (RGPD) sert de fondement 
    juridique pour le traitement.</p>

    <strong>Collecte de données générales</strong>
    <p> Les données à caractère personnel des utilisateurs sont conservées pour une durée n’excédant pas celle nécessaire au regard de la finalité pour 
    laquelle elles ont été collectées. Au-delà, elles seront supprimées, anonymisées ou leur accès sera bloqué.  
    En outre, la conservation des données peut être prévue par le législateur européen ou national dans les règlements, 
    lois ou autres réglementations de l’UE auxquels le responsable de traitement est soumis. 
    Le blocage de l’accès aux données, la suppression des données ou leur anonymisation intervient également à l’expiration de la durée de 
    conservation prescrite par les normes mentionnées, sauf s’il est nécessaire de conserver les données pour la conclusion ou l’exécution d’un contrat.</p>



     
</div>

{% endblock %}
