
.body-container {
  display: flex;
  flex-direction: column;
}

.overlap-group {
  display: flex;
}

.text-wrapper {
  flex: 1;
}

.box-big {
    width: 100%;
    height: 200px;
}
.BIG {
    
    width: 100%; /* Adjust as needed */
    height: 200px;
    top: 0;
    left: 0;
}

.big-overlap-group {
    position: relative;
    width: 100%; /* Adjust as needed */
    height: 200px;
    top: -4px;
}

.big {
    position: absolute;
    width: 100%; /* Adjust as needed */
    height: 100%; /* Maintain aspect ratio */
    object-fit: cover;
    top: 0;
    left: 0;
    filter:blur(1px);
}



/* Règles CSS pour les box-image-left, box-image-right*/ 
/* ------------  Généraliste ----------------------*/ 
  .image{
    border-radius:15px;
    height:40vh;
    
  }
  @media(max-width:1280px){
    .image{
      height:20vh;
      width: 20vh;
      position: relative !important;
      top: -12vh !important;
    }
    .image-left{
      top: 8vh !important;
      left: 5vw !important;
    }    
  }

  
  .text{

    text-align:center;
  }

  p{
    margin-bottom:0vh;
  }
/* -------------box-left-------------------------- */
  .box-left-image{
    background-color: var(--bg-dark);
    width:100%;
    overflow: hidden;
    height: 278px;
    margin-top:0
  }

  .box-left-image .image-left{
    position:relative;
    left:5%;
    top:3%;
  }


/* ----------------- box-right-image ----------------- */ 

.box-right-image{
  background-color:var(--white);
  width:100%;
  overflow:hidden;
  height:278px;
  margin-top:0px;
  margin-bottom: 0px;
}


.box-right-image .image-right{
  position:relative;
  left:50vw;;
  top:-15vw;
}

/* ---------------- 2 images sur la même div ------------------------*/

.double-image-right{
  position:relative;
  top:3%;
  left:30%;

}

.double-image-left{
  position:relative;
  top:3%;
  left:10%;

}

.double-image{
  width:30vw;
  height:25vw;
}
@media(max-width:1280px){
  .double-image{
    width: 50vw !important;
    height: 35vh !important;
    top: 3vh !important;
  }
  .double-image-left{
    left:3vw;
  }
  .double-image-right{
    left:10vw;
  }
}

/* ------------------------------------------------------------------ */
/* -------------------- Texte au centre d'une div  -------------------*/
.center-text-container{
  width: 800px;
  position:relative;
  left:20%;
  color:var(--secondary);

}

/* -------------------- Carte représentant les avis -------------------*/

.card-avis{
  width:60%;
  position:relative;
  top: 5%;
}

.subtitle{
  color:var(--secondary);
}
H5 { color: var(--dark)}
