/*ACCEUIL.CSS*/

html{
  scroll-behavior: smooth;
}

.page-contaiener{
  overflow-x:hidden;
}
.top-container{
  height: 40vh;
  background-position:   40% 55%;
  background-size: 100%;
}

@media (max-width: 1280px) {
  .top-container{
    background-size:110%;
    background-repeat: no-repeat;
    background-color: var(--dark);
    max-height: 30vh;
  }
}

.logo{
  z-index: 1;
  max-width: 100%;
  height: 100%;
  position:relative;
  left: 60%;
  top: 8%;
}
@media(max-width: 1280px){
  .logo{
    left: 55%;
    top: 25%;
    height: 80%;

  }
}

.image-habitat{
  height:40vh !important;
  width: 30vw !important;
}
@media(max-width: 1280px){
  .image-habitat{
    width: 80vw !important;
  }
}
.carousel-item{
  height: 100%;
  width: 100%;
}

.carousel-item-start, carousel-item-end{
  height: 40vh;
  background-position: 50% 50%;
  background-size: cover;
}

.carousel-fade .active.carousel-item-start, 
.carousel-fade .active.carousel-item-end{
  display: block;
  opacity: 0;
  transition: opacity 0s ease;
}

#services-container{
  background-size:60%;
  background-position: 50% 5%;
}
.card{
  height:100%;
  width:100%  !important;
  border-radius: 15px;
  border: 1px solid var(--dark);
  
}
.card .card-header{
  background-color:var(--secondary);
}
@media(max-width: 1280px){
  #services-container{
    background-size: 100%;
    background-position: 70% 25%;

  }
}

.animal-card{
  height: 100%;
  border-radius: 15px;
  border: 1px solid var(--dark);
}

.animal-image{
  width:100%;
  height:20vh;
}

@media(max-width: 1280px){
  .animal-image{
    height: 30vh;
    max-width: 100px;
  }
}


.carousel-item.active{
  z-index: 0;
  overflow-y: hidden;
}

.table{
  --bs-table-color: var(--white);
  --bs-table-striped-color: var(--primary);
}