.bg-dark-box{
    background-color:var(--bg-dark);
    width:100%;
}

.text-wrapper{
    position: relative;
    top: 10vh;
}

.col-in-box{
    position:relative;
    top:0vh
}

.container{
    width: 100% !important;
    
}

form{
    position:relative;
    top: 3vh;
}
.card{
    border-radius:px !important;
    border-color:var(--secondary);
}

.card .btn {
    border:1px;
    border-color:var(--secondary);
}

.white-container{
    background-color: var(--white);
}


.container{
    min-height:40vw;
}

.center-vertically{
    display:flex;
    align-items:center;
    min-height: 100vh;
}

#login-card{
    border : 3px solid #075cbf;
    width: 66%;
    height: auto;
    object-fit: contain;
    background-color: #ece9d8;
    
}
#login-card .card-header{
    background: linear-gradient(180deg,#0997ff,#0053ee 8%,#0050ee 40%,#06f 88%,#06f 93%,#005bff 95%,#003dd7 96%,#003dd7);
    color: white;
    font-size: 13px;
    text-shadow: 1px 1px #0f1089;
    padding: 3px 5px 3px 3px;
    justify-content: space-between;
    position: relative;
    top: 0;
}

#closeBtn{
    background: linear-gradient(180deg, #ff0000, #ff0000 8%, #e50000 40%, #9a0000 88%, #9a0000 93%, #e50000 95%, #ff0000 96%, #ff0000);
    color: white;
    border-radius: 5%;
    width: 1.5rem;
    height: auto;
}
#maximizeBtn{
    background: linear-gradient(180deg,#0997ff,#0053ee 8%,#0050ee 40%,#06f 88%,#06f 93%,#005bff 95%,#003dd7 96%,#003dd7);
    color: white;
    border-radius: 5%;
    width: 1.5rem;
    height: auto;
}

.submit_cancel{

    
    text-decoration: none;
    background: linear-gradient(180deg,#fff,#ecebe5 86%,#d8d0c4);
    background-color: #000 ;
    background-image :linear-gradient(rgb(255, 255, 255), rgb(236, 235, 229) 86%, rgb(216, 208, 196));
    margin-left: 5vw;
    border: 1px solid #003c74;
    border-radius: 2px;


}


.submit_cancel:hover {
    box-shadow: inset -1px 1px #fff0cf,inset 1px 2px #fdd889,inset -2px 2px #fbc761,inset 2px -2px #e5a01a;
}

.form-container{
    width:50%;
}


.card-createHabitat{
    
    height: auto;
    object-fit: contain;
    background-color: #ece9d8;
    border: 2px solid var(--secondary);
}

.card-createHabitat .card-header{
    background: linear-gradient(180deg, var(--primary), var(--secondary) 8%, var(--secondary) 40%, var(--primary) 88%, var(--primary) 93%, var(--secondary) 95%, var(--primary) 96%, var(--secondary));
    color: white !important ; 
    font-size: 13px !important ;
    text-shadow: 1px 1px #000000 !important;
    padding: 3px 5px 3px 3px !important ;
    justify-content: space-between !important;
    position: relative !important;
    top: 0 ;
    text-align: left;
}