body{
    background-color: #FAF9F6 !important;
}

@media (max-width: 1280px) {
    .custom-container{
        min-width:80vw !important;
        margin-left:0 !important;
    }
}


.scrollable-container{ 
    height: 80vh;
    overflow-y: scroll;
    overflow-x:hidden;
    background-color: #fff;
}

/* -------------------------------  texte  ----------------------------- */



.active{
    color:var(--active);
}


/* -------------------------------  Containers  ------------------------ */



.avis-list-container{
    width:50vw;
    position:relative;
    left:20vw;
    top:15vh;
    padding:0%;
    margin:0%;
    max-height:80vh;


}

.see-post-container{
    background-color: rgba(0,0,0,0.8);
}

.page-container{
    max-height:100vh;
    overflow-y: hidden;
}


/* -------------------------------  Image  ----------------------------- */

.default{
    height: 100vh;
    width: 100vw;
}


.slider .form-control{
background-color: transparent !important; 
border: 0;
position: relative;
top: -3vh;
z-index: 100;
}
input[type="range"] {
-webkit-appearance: none;
width: 100%;
opacity: 0;
}
.active{
color: var(--active) !important;
}

.stars-container {
position: relative;
top : 0vh;
z-index: 1;
}

.stars {
position: relative;
display: flex;
align-items: center;
}

