/* Style for the admin dashboard */

ul{ list-style: none;}
.active{ color:#ffcb00}
a{ text-decoration: none;}
a:visited{ text-decoration: none !important;}

.sidebar-item:hover{
    color: rgba(255, 255, 255, 1);
    transform:scale(1.1);
    transition:all 0.3s;
}




.header-btn{
    background-color: var(--white);
    border-color:#f4f4f4;
    color: var(--dark);
    width: 2em;
    height: 2em;
}

.header-btn:hover{
    box-shadow: inset -1px 1px #fff0cf,inset 1px 2px #fdd889,inset -2px 2px #fbc761,inset 2px -2px #e5a01a;
}

.custom-container{ 
    border: 2px solid rgb(33,37,41);
    height:89vh;
}


.container-header{
    background-color: rgb(33,37,41);
    color: white;
    font-size: 13px;
    text-shadow: 1px 1px #000000;
    padding: 3px 5px 3px 3px;
    justify-content: space-between !important;
    position: relative;
    top: 0;
    vertical-align: middle;
    height:5%;
    

}
.toolbar{
    justify-content: space-between !important;
    position: relative;
    top: 0;
    vertical-align: middle;
    height:10%;
}
.scrollable-container{ 
    min-height:80%;
    max-height:90%;
    overflow-y: scroll;
    overflow-x:hidden;
    background-color: #fff;
}


.card-footer .card-text{
    color: var(--dark);
}


.alerts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:66%
}

.service-card{
    height:0vh;
}