body{
    background-color:var(--bg-dark);
}

.form-container{
    background-color:var(--white);
    position: absolute;
    top: 15vh;
    left:33vw;
    width: 33vw;

}

@media (max-width: 768px) {
    .form-container{
        width: 80%;
        left:10%;
        position: absolute;
        top:10%;
    }
}