.navbar-custom{
    background-color: #495635;
    height:52px
}


@media (max-width:767px){

    .nav-item{ font-size:3vh;}
        
    
}

.navbar-custom a:hover, a:active, a:visited,a {
    text-decoration: none;
    color:#ffffffff;
    font-size: 32 ;
}
.navbar-brand{
    font-size:36;
}
.nav-item{
    font-size: 32;
}


.navbar-custom-footer {
    color: white;
    font-size: 20;
    font-family: "Inter-Regular", Helvetica;
    background-color: #495635;
    height: 26px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px; /* Adjust this value to increase or decrease space */
}

.footer-text-wrapper {
    margin-top: 15px; /* Adjust this value to move the text further down */
}

.navbar-toggle{
    position:relative;
    right: 0 !important;
}


#navbar-brand:hover{
    color: var(--primary);
    transform: scale(1.1);
    transition:all 0.5s;


}

.navbar{
    --bs-navbar-color: var(--primary) !important;
    transition: all 0.5s;
}

.navbar .nav-item .nav-link{
    color: var(--white) !important;
    transition: all 0.5s;
}