/* Card */

body{
    background-color:var(--white);
}
.card-service{
    border-radius:15%;
    border: 1px solid var(--dark);
    overflow:hidden;
    height: 30vh;
}
.service-list{
    background-color:var(--darker);
    min-height: 100vh;
}

.service-text{
    border: 1px solid var(--primary);
    background-color: var(--dark);
    text-align:center;
    vertical-align: center;
    color: var(--white);
}