:root{
    --primary :rgba(144,159,67,1);
    --secondary :rgba(95,111,58,1);
    --dark: rgba(73,86,53,1);
    --darker: #131D00;
    --bg-dark:rgba(19,29,0,1);
    --white:rgba(255,255,255,1);
    --active:#ffcb00;
    --bs-link-hover-color: var(--active);    
}

.high-contrast {
    --primary: rgba(100,119,0,1);
    --secondary: rgba(80,96,20,1);
    --dark: rgba(50,60,0,1);
    --darker: #0A1400;
    --bg-dark: rgba(15,22,0,1);
    --white: rgba(255,255,255,1);
    --active: #ffcb00;
    --bs-link-hover-color: var(--active);
}




.bg-dark{
    background-color:var(--bg-dark);
    color:var(--white);
}
.dark{
    background-color: var(--dark);
    color:var(--white);

}
.darker{
    background-color:var(--darker);
    color:var(--white);
}
.white{
    background-color:var(--white);
    color:var(--dark);
}
.primary{
    background-color:var(--primary);
    color:var(--white);

}
.btn-secondary{
    color:var(--white);
    background-color: var(--secondary);
    border-color:var(--dark)
    
}

.btn-secondary:hover{
    background-color:var(--dark);
    border-color:var(--secondary);
    
}

.btn-primary{
    color:var(--white);
    background-color:var(--primary);
    border-color:var(--dark);
    
}

.btn-primary:hover{
    background-color:var(--dark);
    border-color:var(--primary)
    
}

.btn-outline-primary{
   color:var(--primary);
   outline:var(--primary)
}

.btn-outline-secondary{
    color:var(--secondary);
    outline:var(--secondary);
    
}


H1, H2, H3, H4, H5, H6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.disabled{
    background-color: var(--darker) !important;
    border-color: var(--darker) !important;
    color: var(--white) !important;
}