{% extends 'base.html.twig' %}

{% block title %}Arcadia admin{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{asset('css/admin.css')}}"/>
<style>
    .white-container{
        position: relative;
        top:30vh;
        color:var(--primary)
    }
</style>
<div class="container white-container">
    <div class="row">
        <div class="col">
            <H1 style="color:var(--primary)"><a href="/admin/services" style="color:var(--primary)">Gestion des services</a></H1>
        </div>
        <div class="col">
            <H1 style="color:var(--primary)"><a href="/admin/users" style="color:var(--primary)">Gestion des comptes</a></H1>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <H1 style="color:var(--primary)"><a href="/admin/horaires" style="color:var(--primary)">Horaires d'ouverture</a></H1>
        </div>
        <div class="col">
            <H1 style="color:var(--primary)"><a href="/admin/habitats" style="color:var(--primary)">Gestion des habitats</a></H1>
        </div>
    </div>
</div>

{% endblock %}
