{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{asset('css/admin.css')}}"/>

<div class="container-fluid mt-5 white-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Créer un nouveau service</h1>
                    <form id="createServiceForm">
                        <label for="nom">Service Name:</label>
                        <input type="text" id="create_inputNom" name="nom" required class="form-control mb-2">
                        <label for="description">Description:</label>
                        <textarea id="create_inputDescription" name="description" required class="form-control mb-2"></textarea>
                    </form>
                    <div class="d-flex justify-content-center mt-5 mb-2">
                        <button type="button" class="btn btn-primary" id="Btncreate">Add Service</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid  bg-dark-box">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Modifier un service:</h1>
                    <form id="serviceUpdateForm">
                        <select name="service" id="serviceId" class="form-control mb-2">
                            {% for service in services %}
                                <option value="{{ service.id }}">{{ service.nom }}</option>
                            {% endfor %}
                        </select>
                        <label for="nom">Nouveau nom du service:</label>
                        <input type="text" id="inputNom" name="nom" required class="form-control mb-2" placeholder="">
                        
                        <label for="description">Description:</label>
                        <textarea id="inputDescription" name="description" required class="form-control mb-2" placeholder=""></textarea>
                    </form>
                    <div class="d-flex justify-content-center mt-5">
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary UpdateBtn" id="Btnedit">Update Service</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-danger" id="Btndelete">Delete</button>
                            </div>    
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{asset('js/service.js')}}"> </script>
{% endblock %}
