{# templates/services/_delete_form.html.twig #}

{{ form_start(deleteForm, {'method': 'DELETE'}) }}
    {{ form_widget(deleteForm) }}
    <button type="submit" class="btn btn-danger">Delete</button>
{{ form_end(deleteForm) }}
