{% extends 'base.html.twig' %}

{% block title %}Nos services{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{asset('css/services.css')}}">

<div class="container service-list">
    <h1 class=""> Les services proposés au zoo:</h1>
    <div class="row">
        {% for service in services %}
        <div class="col-md-4 col-sm-12 mb-4 service">
            <div class="card card-service" style="text-align: center;">
                <div class="card-header">
                    <H5 class="card-title">{{service.nom}}</H5>
                </div>
                <div class="card-body" style="background-image:url({{asset('images/service/' ~ service.imageName)}})" 
                onclick="window.location=('/services/show/'+{{service.id}})"
                role="button">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>





{% endblock %}



