{% extends 'base.html.twig' %}

{% block title %}Zoo Arcadia{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}
<link rel="stylesheet" href="{{asset('css/acceuil.css')}}">

<div class="top-container" style="background-image:url( {{ asset('images/parc/big.webp') }} )">
  <img src="{{ asset('images/logos/logo-blanc.svg')}}" class="image img-fluid logo">
</div>
<div class="dark d-flex justify-content-center text-center">
  <div>
    <h1>Arcadia</h1>
    <p> Le parc animalier de vos rêves</p>
  </div>
</div>
{% include 'accueil/carouselHabitats.html.twig' %}
{% include 'accueil/4mostPopularAnimals.html.twig' %}
{% include 'accueil/services.html.twig' %}
{% include 'accueil/avis.html.twig' %}
{% include 'accueil/formulaire_avis.html.twig' %}
{% include 'accueil/legal&horaires.html.twig' %}




<script src="{{ asset('js/acceuil.js') }}"></script>
{% endblock %}
