{# templates/email/welcome_email.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome Email</title>
</head>
<body>
    <H1>MESSAGE AUTOMATIQUE ERREUR 500</H1>
    <p>Une erreur 500 est survenue</p>
    

</body>
</html>