{# templates/email/welcome_email.html.twig #}

<!DOCTYPE html>

<html>
<style>
    h1{
        color: rgba(144,159,67,1)
    }
    
</style>
<head>
    <meta charset="UTF-8">
    <title>Bienvenue chez Arcadia ! </title>
</head>
<body>
    <h1> Bienvenue chez Arcadia !</h1>
    <p> Toute l'équipe vous souhaite la bienvenue dans notre zoo!</p>
    <p> Vous pouvez dès à présent vous connecter à votre espace personnel avec votre adresse email suivante:
        {{ user.getEmail }}
    </p>
    <p> Ne pas répondre à ce mail.</p>

</body>
</html>