<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
       
        <!-- Bootstrap -->

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/033a5007fc.js" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="{{asset('css/navbar_style.css')}}">
        <link rel="stylesheet" href="{{asset('css/styleguide.css')}}"
        {% block stylesheets %}
        
        {% endblock %}

        {% block javascripts %}
        
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
        
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-custom" id="navbar-custom">
            <a class="navbar-brand mr-lg-5" href="/">Arcadia</a>
         
            <!-- Contenu navbar sur pc -->
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link d-none d-lg-block mr-lg-3" href="/services">Services</a>
                <a class="nav-item nav-link d-none d-lg-block mr-lg-3" href="/Habitats">Habitats</a>
                {% if app.user %}
                    <a class="nav-item nav-link d-none d-lg-block mr-lg-3" href="/logout">Déconnexion</a>
                    {% if is_granted ('ROLE_EMPLOYE') %}
                    <a class="nav-item nav-link d-none d-lg-block mr-lg-3" href="/employe"><i>Espace employé</i></a>
                    {% endif %}
                    {% if is_granted ('ROLE_VET') %}
                    <a class="nav-item nav-link d-none d-lg-block mr-lg-3" href="/veterinaire"><i>Espace vétérinaire</i></a>
                    {% endif %}
                    {% if is_granted ('ROLE_ADMIN') %}
                    <a class="nav-item nav-link d-none d-lg-block mr-lg-3" href="/admin"><i>Admin</i></a>
                    {% endif %}
                {% else %}
                    <a class="nav-item nav-link d-none d-lg-block mr-lg-3" href="/login">Connexion</a>
                {% endif %}
                <a class="nav-item nav-link d-none d-lg-block mr-lg-3" href="/contact">Contact</a>
            </div>
            <!-- Contenu navbar sur mobile -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Habitats">Habitats</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Déconnexion</a>
                        </li>
                        {% if is_granted ('ROLE_EMPLOYE') %}
                        <li class="nav-item">
                            <a class="nav-link" href="/employe"><i>Espace employé</i></a>
                        </li>
                        {% endif %}
                        {% if is_granted ('ROLE_VET') %}
                        <li class="nav-item">
                            <a class="nav-link" href="/veterinaire"><i>Espace vétérinaire</i></a>
                        </li>
                        {% endif %}
                        {% if is_granted ('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin"><i>Admin</i></a>
                        </li>
                        {% endif %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Connexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            
        </nav>
        
        {% block body %}
        {% endblock %}
        <footer>
            <nav class="navbar navbar-expand-lg navbar-dark navbar-custom-footer" >
                <p class="nav-item mx-auto footer-text-wrapper">© Sébastien Borgne pour Studi</p>
            </nav>
        </footer>
        <script src="https://kit.fontawesome.com/033a5007fc.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
        <script src="{{asset('js/sanitizer.js')}}"></script>
    </body>
</html>
