<nav class="navbar  navbar-expand-lg  fixed-top navbar-custom justify-content-between" id="navbar-custom" aria-label="navbar" >
        <div class="navbar-brand px-3">
            <a class="nav-item" id="navbar-brand" href="/">Arcadia</a>
        </div>
        <div class="navbar-content px-3">
            <button class="navbar-toggler btn btn-secondary d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Bouton menu navigation">
                <i class="fa-solid fa-hippo"></i>
            </button>
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 text-white">

                <li class="nav-item d-none d-lg-block ">
                    <div class="form-check form-switch nav-link">
                        <input class="form-check-input toggleContrast" type="checkbox" id="toggleContrast">
                        <label class="form-check-label" for="toggleContrast">Contraste élevé</label>
                        
                    </div>
                </li>
                <li class="nav-item d-none d-lg-block mr-lg-3">
                    <a class="nav-link" href="/services" aria-label="Services">Services</a>
                </li>
                <li class="nav-item d-none d-lg-block mr-lg-3">
                    <a class="nav-link" href="/habitats" aria-label="Habitats">Habitats</a>
                </li>
                <li class="nav-item d-none d-lg-block mr-lg-3">
                    <a class="nav-link" href="/avis" aria-label="Avis">Avis</a>
                </li> 
                <li class="nav-item d-none d-lg-block mr-lg-3">
                    <a class="nav-link" href="/contact" aria-label="Contact">Contact</a>
                </li>
                {% if app.user %}
                    <li class="nav-item d-none d-lg-block mr-lg-3">
                        <a class="nav-link" href="/logout" aria-label="Déconnexion">Déconnexion</a>
                    </li>
                    {% if is_granted ('ROLE_EMPLOYE') %}
                    <li class="nav-item d-none d-lg-block mr-lg-3">
                        <a class="nav-link" href="/employe" aria-label="Espace employé"><i>Espace employé</i></a>
                    </li>
                    {% endif %}
                    {% if is_granted ('ROLE_VET') %}
                    <li class="nav-item d-none d-lg-block mr-lg-3">
                        <a class="nav-link" href="/veterinaire" aria-label="Espace vétérinaire"><i>Espace vétérinaire</i></a>
                    </li>
                    {% endif %}
                    {% if is_granted ('ROLE_ADMIN') %}
                    <li class="nav-item d-none d-lg-block mr-lg-3">
                        <a class="nav-link" href="/admin" aria-label="Espace admin"><i>Admin</i></a>
                    </li>
                    {% endif %}
                {% endif %}
                
            </ul>
                <div class="offcanvas offcanvas-end text-bg-dark d-lg-none " tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="Navigation ">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Navigation</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Fermer navigation"></button>
                    </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" href="/" aria-label="acceuil">Acceuil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/services" aria-label="services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/habitats" aria-label="habitats">Habitats</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/avis" aria-label="avis">Avis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact" aria-label="contact">Contact</a>
                        </li>
                        {% if app.user %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout" aria-label="déconnexion">Déconnexion</a>
                                </li>
                            {% if is_granted ('ROLE_EMPLOYE') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/employe" aria-label="esapce employé"><i>Espace employé</i></a>
                                </li>
                            {% endif %}
                            {% if is_granted ('ROLE_VET') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/veterinaire" aria-label="vétérinaire"><i>Espace vétérinaire</i></a>
                                </li>
                            {% endif %}
                            {% if is_granted ('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin" aria-label="admin"><i>Admin</i></a>
                                </li>
                            {% endif %}
                        {% endif %}
                        
                         <li class="nav-item mt-5">
                            <div class="form-check form-switch">
                                <input class="form-check-input toggleContrast" type="checkbox" id="toggleContrast">
                                <label class="form-check-label" for="toggleContrast">Contraste élevé</label>
                            </div>
                        </li>                     
                    </ul>
                </div>
            </div>     
        </div>
    </nav>

<script>
        const toggleButtons = document.querySelectorAll('.toggleContrast');
        toggleButtons.forEach(button => {
            button.addEventListener('click', function() {
                console.log('click');
                document.documentElement.classList.toggle('high-contrast');
                
            });
        });
    </script>